body {
    height: 0vh;
}

#error {
    display: block;
    margin: 10vh;
    text-align: center;
    font-size: 3vh;
    height: 55vh;
}

#logo {
    height: 20vh;
    text-align: center;
    font-size: 2vh;
    vertical-align: center;
    margin-left: -5vh;
}

#footer-text {
    display: inline-block;
    vertical-align: middle;
    margin-left: 2vh;
}

#footer-img {
    display: inline-block;
    vertical-align: middle;
}

#footer-img img {
    height: 20vh;
}